/*
CSS - это таблицы стилей,
которые с помощью уникальных идентификаторов (атрибутов class и id)
позволяют задать представление (внешний вид) HTML
*/
body {
    width: 800px; /* Ширина body */
    margin: 0 auto; /* Внешний отступ: верх\низ === 0 и право\лево === auto */
}

/* Сам тег списка */
ul.links {
    margin-top: 10px; /* Верхний внешний отступ */
    padding: 0; /* Сбрасываем внутренний отступ по умолчанию */
    display: flex; /* Гибкий вид блока */
    justify-content: space-between; /* Выравнивание вложенных тегов: пустота между ними */
}

/* Тег элемента списка */
ul.links li {
    list-style: none; /* Отключаем встроенный стиль списка */
    font-size: 20px; /* Задали размер шрифта в пикселях */
    color: #333; /* Задали цвет текста */
}

/* Тег ссылки внутри списка */
ul.links a {
    color: #1B77A6; /* Задали цвет текста */
    text-decoration: none; /* Убрали встроенное подчеркивание */
}

/* :hover - это стили ссылки при наведении */
ul.links a:hover {
    color: #2497D1; /* Задали цвет текста при наведении */
}
